extends wrapper.jade

block content

  table(width='100%', cellpadding='0', cellspacing='0')
    tr
      td.content-block
        p=t('templates.email.greeting',{USERNAME:USERNAME})
        p=t('templates.comment-published.body')
    tr
      td.content-block
        h4=t('templates.email.topic')
        p #{TOPIC}
        h4=t('templates.email.author')
        p #{AUTHOR}
        h4=t('templates.email.text')
        .comment-text!=markdown(COMMENT)
    tr
      td.content-block
        a.btn-primary(href=URL)=t('templates.email.link')
    tr
      td.content-block
        p!=t('templates.email.signature',{config:config})
    
